{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>Inscription</h1>

{# {{ form(form) }} #}
{# personnalisation de formulaire #}
{# {{ form_start(form) }}
    
        {{ form_errors(form) }}  
        {{ form_row(form.title, {'label':'Situation actuelle', 'attr':
                                    {'placeholder':'Libre ou engagé'}}) }}

{{ form_end(form) }} #}
{{ form_start(form) }}
    

        
      {{ form_widget(form) }} 
    

{{ form_end(form) }}
{% endblock %}
