{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}

{% block body %}
    <h1>Joueur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdJoueur</th>
                <th>Civilite</th>
                <th>NomJoueur</th>
                <th>PrenomJoueur</th>
                <th>EmailJoueur</th>
                <th>PasswordJoueur</th>
                <th>DatenaissanceJoueur</th>
                <th>CategorieJoueur</th>
                <th>PaysJoueur</th>
                <th>VilleJoueur</th>
                <th>ContinentJoueur</th>
                <th>PhotosJoueur</th>
                <th>FavorisJoueur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.idJoueur }}</td>
                <td>{{ joueur.civilite }}</td>
                <td>{{ joueur.nomJoueur }}</td>
                <td>{{ joueur.prenomJoueur }}</td>
                <td>{{ joueur.emailJoueur }}</td>
                <td>{{ joueur.passwordJoueur }}</td>
                <td>{{ joueur.datenaissanceJoueur ? joueur.datenaissanceJoueur|date('Y-m-d') : '' }}</td>
                <td>{{ joueur.categorieJoueur }}</td>
                <td>{{ joueur.paysJoueur }}</td>
                <td>{{ joueur.villeJoueur }}</td>
                <td>{{ joueur.continentJoueur }}</td>
                <td>{{ joueur.photosJoueur }}</td>
                <td>{{ joueur.favorisJoueur }}</td>
                <td>
                    <a href="{{ path('joueur_show', {'idJoueur': joueur.idJoueur}) }}">show</a>
                    <a href="{{ path('joueur_edit', {'idJoueur': joueur.idJoueur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('joueur_new') }}">Create new</a>
{% endblock %}
