{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
<h1>Inscription</h1>
<h4> Section Club</h4>
{# {{ form(form) }} #}
{# personnalisation de formulaire #}

{{ form_start(form) }}
    
        {{ form_errors(form) }}  
        {{ form_row(form.nomclub, {'label':'Nom', 'attr':
                                    {'placeholder':'Nom...'}}) }}               
        {{ form_row(form.emailclub, {'label':'Email', 'attr':
                                    {'placeholder':'Email...'}}) }}
        {{ form_row(form.passwordclub, {'label':'Mot de passe', 'attr':
                                    {'placeholder':'Mot de passe...'}}) }}
         {{ form_row(form.confirm_passwordclub, {'label':'Confirmez Mot de passe', 'attr':
                                    {'placeholder':'Confirmez mot de passe...'}}) }}
        {{ form_row(form.paysclub, {'label':'Pays', 'attr':
                                    {'placeholder':'Pays...'}}) }}            
        {{ form_row(form.villeclub, {'label':'Ville', 'attr':
                                    {'placeholder':'Ville...'}}) }}           
        {{ form_row(form.continentclub, {'label':'Continent', 'attr':
                                    {'placeholder':'Continent...'}}) }}  
                   
{{ form_end(form) }}
{% endblock %}
