{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Formulaire de contact</h1>
{# {{ form(form) }} #}
{# personnalisation de formulaire #}

{{ form_start(form) }}
    
        {{ form_errors(form) }}  
        {{ form_row(form.nomcontact, {'label':'Nom', 'attr':
                                    {'placeholder':'Nom...'}}) }}           
        {{ form_row(form.prenomcontact, {'label':'Prenom', 'attr':
                                    {'placeholder':'Prenom...'}}) }}    
        {{ form_row(form.emailcontact, {'label':'Email', 'attr':
                                    {'placeholder':'Email...'}}) }}
        {{ form_row(form.commentairecontact, {'label':'Commentaire', 'attr':
                                    {'placeholder':'Votre commentaire...'}}) }}
         {{ form_row(form.datecontact, {'label':'Contact'}) }}
                   
{{ form_end(form) }}
{% endblock %}
